#elliptic
  background #333
  width 30%
  position absolute

#moduli
  background #333
  width 20%
  height calc(0.5 * var(--rp-height))
  position absolute
  right 0
  top 0
  
#sec-5d > table
  background #DDD
  font-size 1.5em
  top 20%
  left calc((100% - 25%) / 2)
  width 25%
  position absolute
  
  > caption
    background #DDD
