#elliptic
  background #CCC
  border-radius .2em
  width 35%
  height calc(0.35 * var(--rp-width))
  position absolute
  left 5%
  top 5%
  
  line
    stroke #000

#moduli
  background #CCC
  border-radius .2em
  width 35%
  height calc(0.35 * var(--rp-width))
  position absolute
  right 5%
  top 5%
  
#fived-controls
  background #CCC
  border-radius .2em
  bottom calc(var(--rp-controls-height) + 2.5%)
  font-size 1.5em
  padding .5em
  position absolute
  left calc((100% - 30%) / 2)
  width 30%
  
  > table
    margin 0 auto

  input[type="number"]
    font-size 1em
    width 6ch
