#sec-intro
  > .toc
    position absolute
    top 0
    width 65%
    left 17.5%
    
  > section
    position absolute
    width 80%
    top 5em
    left 10%
    
    background #FFF
    border-radius .2em
    font-size 1.2em
    padding 1em
    height auto
    
    ul
      margin .5em 0 .5em 2em

      > li
        margin .5em 0
    
    > p:not(:first-child)
      margin 1em 0

.time
  text-align right
