
/* XyJax slide */
#xyjax-demos
  font-size 2em
  text-align center
  position relative
  top 1em

  > *
    left 0
    top 0
    position absolute !important
    text-align center
    width 100%

.contradiction *
  color red
  fill red
  stroke red
